# OSX
#
.DS_Store

# Xcode
#
template/build/
template/*.pbxuser
template/!default.pbxuser
template/*.mode1v3
template/!default.mode1v3
template/*.mode2v3
template/!default.mode2v3
template/*.perspectivev3
template/!default.perspectivev3
template/xcuserdata
template/*.xccheckout
template/*.moved-aside
template/DerivedData
template/*.hmap
template/*.ipa
template/*.xcuserstate
template/Pods/

# Android/IntelliJ
template/.idea
template/.gradle
template/local.properties
template/*.iml

# Visual Studio Code
#
.vscode/


# node.js
#
template/node_modules/
template/npm-debug.log
template/yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
template/ios/Pods/
template/ios/Podfile.lock
template/android/build/

.DS_Store

# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# Visual Studio Code
#
.vscode/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/
